body {
    background-color: white;
    font-family: 'Whisper', cursive;
}

a {
    text-decoration: none;
}

/*Прижатие футера*/
* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    background-color: #9999FF
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.content {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer {
    flex: 0 0 auto;
}

/*-----------------------*/

.ico img {
    height: 80px;
}

/*-------------------------*/

.menuvertical {
    width: 90px;
    height: 450px;
    position: fixed;
    padding: 80px;
    background-color: #FF9966;
}

.menuvertical ul {
    list-style: none;
    display: block;
    width;
    60px;
    height: auto;
    margin;
    0;
    padding: 0;
}

.menuvertical ul li ul {
    position: absolute;
    top: 0px;
    left: 60px;
    display: none;
    width: auto;
    padding: 20px;
    margin: 20px;
}

.menuvertical ul li:hover ul {
    display: block;
}

.menuvertical ul li ul li a:hover {
    background-color: #20B2AA;
    color: #fff;

}

/*------------------------------------------*/
.blocks {
    display: flex;
    height: 500px;
    width: 1000px;
    flex-direction: column;
    background-color: white;
    align-items: center;
}

.blocks ul {
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
}


.blocks ul a {
    width: 250px;
}


.blocks ul a li {
    text-align: center;
    list-style: none;
}

.frameblock {
    border-bottom-color: grey;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.glvn {
    display: flex;
    margin-left: 300px;
    justify-content: center;
    padding-top: 30px
}

.inform {
    display: flex;
    margin-left: 300px;
    justify-content: center;

}

.footer {
    flex: 0 0 auto;
}

h1 {
    color: blue;
    text-align: center;
    height: 100px;
    padding-top: 100px;
}


.forma {
    width: 500px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: cornflowerblue;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}

/*
.bordergl li span big {
    border-style: groove;
    border-width: 3px;
    border-color: #99ff99;
    padding-right: 800px
}
*/

.borderngl {
    border-style: groove;
    border-width: 3px;
    border-color: #99ff99;
    width: 500px;
    margin-top: 10px;
    padding-left: 10px;
}

.borderngl a {
    text-decoration: none;
}


.borderngl li {
    list-style: none;
}


.bordergl {
    border-style: groove;
    border-width: 3px;
    border-color: #99ff99;
    width: 550px;
    margin-top: 30px;
    padding-left: 10px;
}


.bordergl a {
    text-decoration: none;
}


.bordergl li {
    list-style: none;
}


.module ul {
    padding-left: 50px;
}

.input {
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
    height: 30px;
    width: 250px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 15px;
    padding-bottom: 15px;
}

.send {
    background: #FF9966;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    width: 100px;
    margin-top: 10px;
}
